// Import des variables css (à charger dans chaque composant si besoin)
@import '~css/variables'

// Style de mon composant ContactDetails :

.contact-details
  width 100%
  background-color $white
  padding 20px
  border-left 1px solid $gray-alto
h1
  color $green-emerald
  font-size 2em
  margin-bottom 50px
  margin-right 20px
.tel
  color: $grey
  margin-right 20px
.mail
  color: $grey
  margin-right 20px
.address
  color: $grey
  margin-right 20px
.site
  color: $grey
  margin-right 20px
