// Import des variables css (à charger dans chaque composant si besoin)
@import '~css/variables'

// Style de mon composant ContactsList :

.contacts-list
  width 400px
input
  padding 10px 20px
  width 82.33%
  font-size 1em