// Import des variables css (à charger dans chaque composant si besoin)
@import '~css/variables'

// Style de mon composant ContactsListItem :
.contacts-list-items__item
  list-style none
  border 1px solid #ddd
  padding 10px 20px
  margin-bottom -1px

